extends main_template
include mixins

block title
  title #{__("Friends")}
append style
  link(rel='stylesheet', href='/css/friends.css')
block Friends
  li.selected
    i.fa.fa-users(aria-hidden="true")
    a(href="friends") #{__("Friends")}
append scripts
  script(src='/js/socket/friends.js')
  script(src='/js/dialogs.js')
block main
  .tabs-buttons
    button.all-friends.active=__('All Friends')
      if friends.length > 0
        span.count=friends.length
      else
        span.count=0
    button.online-friends=__('Online')
      span.count=0
    button.invites=__('Invites')
      if invites.length > 0
        span.count=invites.length
      else
        span.count=0
  .tabs-body
    .all-friends
      if friends
        .friendList
          - for (let i = 0; i < friends.length; i++)
            +friend(friends[i].id, friends[i].avatar, friends[i].nickname, false, false, true)
      else
        h3=__('You have no friends')
    .online-friends
        h3=__('You have no friends online')
    .invites
      if invites
        .inviteList
          - for (let i = 0; i < invites.length; i++)
            +friend(invites[i].id, invites[i].avatar, invites[i].nickname, true, true, false)
      else
        h3=__('You have no invites')
