<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
            title Document
        block style
            link(rel="stylesheet", href="/css/main_style.css")
            link(rel="stylesheet", href="/css/font-awesome.min.css")
    body
        .wrapper
            header
                block header
                    .header-user
                        .nickname=mynickname
                        .statusBlock
                            .current 
                                .ico(title=__('online'))
                                   .online 
                            ul.statusList
                                li.status
                                    .ico(title=__('online'))
                                        .online 
                                li.status
                                    .ico(title=__('afk'))
                                        .afk 
                                li.status
                                    .ico(title=__('busy'))
                                        .busy 
                                li.status
                                    .ico(title=__('invisible'))
                                        .invisible 
                    .locale
                        .current 
                            img(src=`/img/flags/${lang}.png`)
                        ul.langList
                            li(title=__('en')).lang.en: img(src='/img/flags/us.png')
                            li(title=__('ru')).lang.ru: img(src='/img/flags/ru.png')

            .body
                aside.left
                    block left
                        .wrap
                            nav.main-menu
                                ul
                                    block Home
                                        li
                                            i.fa.fa-home(aria-hidden="true")
                                            a(href="main") #{__("Home")}                                    
                                    block Friends
                                        li
                                            i.fa.fa-users(aria-hidden="true")
                                            a(href="friends") #{__("Friends")} 
                                    block General Chat
                                        li
                                            i.fa.fa-comments(aria-hidden="true")
                                            a(href="general_chat") #{__("General Chat")} 
                                    block Dialogs
                                        li 
                                            i.fa.fa-envelope(aria-hidden="true")
                                            a(href="dialogs") #{__("Dialogs")}
                                    block Settings
                                        li 
                                            i.fa.fa-cog(aria-hidden="true")
                                            a(href="settings") #{__("Settings")}
                                    block Log out
                                        li
                                            i.fa.fa-sign-out(aria-hidden="true")                                        
                                            a(href="logout") #{__("Log out")}
                main
                    block main
                aside.right
                    block right
            footer
                block footer
                    p footer
        block audio
            audio#notif(src="audio/notification.mp3" preload="auto")
            audio#mes(src="audio/message.mp3" preload="auto")
        block scripts
            script(src='/js/libs/jquery.min.js')
            script(src='/js/libs/socket.io.js')
            script(src='/js/libs/js.cookie.js')
            script(src='/js/html_templates.js')
            script(src='/js/socket/global.js')
            script(src='/js/locale.js')

