<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
            title Document
        block style
            link(rel="stylesheet", href="/css/main_style.css")
            link(rel="stylesheet", href="/css/font-awesome.min.css")
            link(rel="stylesheet", href="/css/flag-icon.css")
    body
        .wrapper
            header
                block header
                    p=mynickname
                    //- .locale
                    //-     span.flag-icon.flag-icon-us
                    //-     button.ru #{__("ru")} 
                    //-     button.en #{__("en")}

                    .locale
                        .current 
                            if lang == 'en'
                                span.flag-icon.flag-icon-us
                            if lang == 'ru'
                                span.flag-icon.flag-icon-ru
                        ul.langList
                            li.lang.en: span.flag-icon.flag-icon-us
                            li.lang.ru: span.flag-icon.flag-icon-ru

            .body
                aside.left
                    block left
                        nav.main-menu
                            ul
                                block Home
                                    li
                                        i.fa.fa-home(aria-hidden="true")
                                        a(href="main") #{__("Home")}                                    
                                block Friends
                                    li
                                        i.fa.fa-users(aria-hidden="true")
                                        a(href="friends") #{__("Friends")} 
                                block General Chat
                                    li
                                        i.fa.fa-comments(aria-hidden="true")
                                        a(href="general_chat") #{__("General Chat")} 
                                block Dialogs
                                    li 
                                        i.fa.fa-envelope(aria-hidden="true")
                                        a(href="dialogs") #{__("Dialogs")}
                                block Log out
                                    li
                                        i.fa.fa-sign-out(aria-hidden="true")                                        
                                        a(href="logout") #{__("Log out")}
                main
                    block main
                aside.right
                    block right
            footer
                block footer
                    p footer
        block scripts
            script(src='/js/libs/jquery.min.js')
            script(src='/js/libs/socket.io.js')
            script(src='/js/libs/js.cookie.js')
            script(src='/js/socket/global.js')
            script(src='/js/locale.js')

