mixin other_profile(nickname, avatar, about, id, status)
  .profile
    .profile_id(hidden)=id
    h3.nickname=nickname
    .row
      .thumbnail
        img(src=`/img/core/user_avatar/${avatar}`)
        if status == 'invited'
          button.inv_friend(disabled) Invited
        else if status == 'friend'
          button.inv_friend(disabled) Friend
        else
          button.inv_friend Invite to friends
        button.type_message Text him
        button.phone Phone Him
      .block
          textarea.about(name='about', placeholder='' disabled)= about
    

mixin my_profile(nickname, avatar, about, id)
  .profile
    h3.nickname=nickname
    .row
      .thumbnail
        img(src=`/img/core/user_avatar/${avatar}`)
      .block
        label my id      
         input(type='text' value= id)        
        form#profile(action='update_profile', method='post')
          textarea.about(name='about', id='', cols='30', rows='10', placeholder='write information about yourself')= about
          button(type='submit') Save

mixin myMessage(sender, message, time, avatar, id)
  -
    formatter = new Intl.DateTimeFormat('ru',{ hour: "numeric", minute: "numeric" });
    time =  formatter.format(Date.parse(time));

  .message.myMessage
    .align
      .logo
        a.avatar(href=`/id${id}` target='_blank' title=`${sender}`)   
          img(src=`/img/core/user_avatar/${avatar}`)      
        .time
          span=time                      
      .msg=message




mixin anotherMessage(sender, message, time, avatar, id)
  -
    formatter = new Intl.DateTimeFormat('ru',{ hour: "numeric", minute: "numeric" });
    time =  formatter.format(Date.parse(time));
    
  .message.anotherMessage
    .align
      .msg=message    
      .logo
        a.avatar(href=`/id${id}` target='_blank' title=`${sender}`)   
          img(src=`/img/core/user_avatar/${avatar}`)      
        .time
          span=time                      